@use "../helpers" as *;

.catalog-card {
	position: relative;

	&:hover {

		.catalog-card__info {
			visibility: visible;
			opacity: 1;

			&::after {
				transform: none;
				visibility: visible;
				opacity: 1;
			}
		}

		.catalog-card__link {
			transform: none;
		}

		.catalog-card__title {
			transform: none;
			visibility: inherit;
			opacity: 1;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__info {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		background-color: rgba(#000, 0.65);
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;

		&::after {
			position: absolute;
			bottom: 10px;
			display: inline-block;
			width: 20%;
			height: 2px;
			background-color: #fff;
			transform: scale(0.2, 0.2);
			transform-origin: 50% 50%;
			transform-style: flat;
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s 0.15s;
			content: '';
		}
	}

	&__link {
		display: block;
		padding: 17px;
		color: #fff;
		line-height: 22px;
		text-decoration: none;
		background-color: rgba(#fff, 0.15);
		border-radius: 60px;
		transform: translate(0%, -100%);
		transform-style: flat;
		transition: all 0.5s;
		@include mob {
			padding: 10px 15px;
			font-size: 14px;
		}
		@include hover {
			background-color: rgba(#000, 0.7);
		}

		&:nth-child(2) {
			transition: all 0.5s 0.1s;
		}
	}

	&__title {
		margin-top: 15px;
		padding: 5px 10px;
		color: #fff;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		background-color: rgba(#fff, 0.15);
		transform: translate3d(0, 0, 0.001px) rotateX(90deg) scale(0.8, 0.8);
		transform-origin: 50% 100%;
		transform-style: flat;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;
		@include mob {
			font-size: 12px;
		}
	}
}
