@use "../helpers" as *;

.info-card {
	display: flex;
	gap: 70px;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: auto;
	min-height: 175px;
	padding: 20px 75px;
	background: url(assets/images/info-card-bg.jpg) center / cover;
	border-radius: 20px;
	box-shadow: 0 0 15px 0 rgba(#000, 0.1);
	@include laptop-sm {
		gap: 30px;
	}
	@include tablet {
		flex-direction: column;
		padding-inline: 55px;
	}
	@include mob {
		gap: 15px;
	}

	&__name {
		font-weight: 700;
		font-size: 38px;
		text-align: center;
		@include tablet-sm {
			font-size: 32px;
		}
		@include mob {
			font-size: 28px;
		}
	}

	&__text {
		max-width: 450px;
		line-height: 1.3;
	}

	&__accent {
		flex-shrink: 0;
		padding: 10px 40px;
		color: #fff;
		font-weight: 300;
		font-size: 24px;
		text-align: center;
		background-color: var(--color-accent);
		border-radius: 70px;
		@include tablet-sm {
			font-size: 20px;
		}

		strong {
			font-weight: 700;
			font-size: 35px;
			@include tablet-sm {
				font-size: 30px;
			}
			@include tablet-sm {
				font-size: 24px;
			}
		}
	}
}
