@use "../helpers" as *;

.prod-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 16px;
	border: 1px solid #eaebed;
	border-radius: 8px;

	&:hover {

		.prod-card__top {

			&::after {
				transform: none;
				visibility: visible;
				opacity: 1;
			}
		}

		.prod-card__show-btn {
			opacity: 1;
		}
	}

	&__top {
		position: relative;
		height: 190px;

		&::after {
			position: absolute;
			inset: 0;
			display: block;
			background-color: rgba(#000, 0.65);
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s 0.15s;
			content: '';
		}
	}

	&__marker {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		gap: 5px;
		align-items: center;
		padding: 6px 10px;
		color: #EF6806;
		font-size: 14px;
		background-color: #FFF8BB;
		border-radius: 3px;
	}

	&__show-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		padding: 10px 15px;
		color: #fff;
		background: none;
		border: 1px solid #fff;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: all 0.5s;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__name {
		font-size: 18px;
	}

	&__params {
		display: grid;
		gap: 5px;
		margin-top: 10px;
		font-size: 14px;
	}

	&__p-item {
		display: flex;
		gap: 5px;
		justify-content: space-between;
	}

	&__p-name {
		color: #babcc3;
	}

	&__p-value {
		text-align: right;
	}

	&__footer {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		margin-top: auto;
	}

	&__price {
		display: flex;
		gap: 5px;
	}

	&__p-new {
		font-weight: 600;
		font-size: 18px;
	}

	&__p-old {
		color: var(--color-accent);
		text-decoration: line-through;
	}

	&__cart-btn {
		display: grid;
		place-items: center;
		width: 25px;
		height: 25px;
		padding: 0;
		color: var(--color-accent);
		background: none;
		border: none;
	}
}
