@use "../helpers" as *;

.review-card {
	box-sizing: border-box;
	padding: 30px 35px;
	background-color: #fff;
	border: 2px solid #DDD;
	border-radius: 10px;
	@include mob {
		padding: 20px 25px;
	}

	&[data-fancybox] {
		cursor: pointer;

		.review-card__body {
			display: -webkit-box;
			max-height: 105px;
			text-overflow: ellipsis;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
		}
	}

	&__header {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__img {
		display: block;
		border-radius: 100%;
	}

	&__name {
		font-weight: 500;
		font-size: 18px;
	}

	&__city {
		margin-top: 5px;
		font-weight: 300;
		font-size: 14px;
	}

	&__body {
		margin-top: 20px;
		overflow: hidden;
		font-weight: 300;
		line-height: 1.3;

		:last-child {
			margin-bottom: 0;
		}
	}
}

[id^="review-popup"] {
	max-width: 600px;
	padding: 0;
	background: none;
}
