@use "../helpers" as *;

.catalog {
	margin-block: 60px;
	@include mob {
		margin-block: 40px;
	}

	&__grid {
		display: grid;
		grid-gap: 15px;
		@include from(426px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include from(1025px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include from(1281px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
