@use "../helpers" as *;

.contacts {
	margin-block: 80px;
	@include tablet-sm {
		margin-block: 60px;
	}
	@include mob {
		margin-block: 30px;
	}

	&__body {
		display: flex;
		gap: 60px;
		@include laptop {
			gap: 30px;
		}
		@include tablet {
			flex-direction: column;
		}
	}

	&__info {
		flex: 1 0;
	}

	&__map {
		flex: 1 0;
		overflow: hidden;
		border: 2px solid var(--color-accent);
		border-radius: 15px;

		iframe {
			display: block;
			@include tablet {
				height: 400px;
			}
		}
	}
}
