@use "../helpers" as *;

.footer {
	padding-block: 15px;
	background-color: #FBFBFB;
	border-top: 1px solid #D9D9D9;

	&__container {
		display: flex;
		gap: 60px;
		@include laptop-sm {
			gap: 30px;
		}
		@include tablet {
			flex-direction: column;
			align-items: center;
		}
		@include mob {
			gap: 15px;
		}
	}

	&__logo {
		align-self: center;
	}

	&__menu {
		@include from(1025px) {
			margin-block: -15px;
		}
	}

	&__col-address {
		align-self: center;
		@include from(1025px) {
			max-width: 285px;
		}
		@include tablet {
			text-align: center;
		}
	}

	&__address {
		font-size: 14px;
	}

	&__map-link {
		display: block;
		margin-top: 10px;
		color: var(--color-accent);
		font-weight: 300;
		font-size: 12px;
	}

	&__col-contacts {
		flex-shrink: 0;
		@include from(1025px) {
			margin-left: auto;
		}
		@include tablet {
			text-align: center;
		}
	}

	&__social {
		@include tablet {
			justify-content: center;
		}
	}

	&__tel {
		display: block;
		margin-top: 10px;
		font-weight: 500;
		font-size: 14px;
		text-decoration: none;
	}

	&__work-time {
		margin-top: 5px;
		font-weight: 300;
		font-size: 12px;

		strong {
			font-weight: 500;
		}
	}
}
