@use "../helpers" as *;

.header {
	padding-block: 5px;
	box-shadow: 0 0 20px 0 rgba(#000, 0.15);

	&__container {
		display: grid;
		grid-template-columns: 170px 1fr;
		gap: 40px;
		@include laptop {
			gap: 20px;
		}
		@include laptop-sm {
			grid-template-columns: 100px 1fr;
		}
	}

	&__logo {
		align-self: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 25px;
		justify-content: center;
		@include laptop-sm {
			gap: 15px;
		}
	}

	&__line {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__top {
		@include tablet {
			display: none;
		}
	}

	&__bottom {
		@include tablet {
			justify-content: flex-end;
		}
		@include mob {
			flex-direction: column;
			gap: 5px;
			align-items: flex-end;
		}

		.header__contact {
			@include from(1025px) {
				display: none;
			}
		}
	}

	&__contact {
		display: flex;
		gap: 10px;
		align-items: center;
		font-size: 14px;
		text-decoration: none;

		svg {
			color: var(--color-accent);
		}
	}

	&__email {
		@include laptop {
			display: none;
		}
	}

	&__menu-top {
		@include from(1025px) {
			flex: 1;
		}
	}

	&__link {
		margin-left: auto;
		padding: 0;
		color: var(--color-accent);
		font-weight: 500;
		text-decoration: underline;
		background: none;
		border: none;
		@include laptop {
			width: 110px;
		}
	}

	&__social {
		@include from(1025px) {
			margin-left: auto;
		}
	}

	&__cart {
		position: relative;
		@include tablet {
			order: 1;
		}
	}

	&__cart-count {
		position: absolute;
		top: -5px;
		right: -5px;
		display: grid;
		width: 20px;
		height: 20px;
		color: var(--color-accent);
		font-size: 12px;
		line-height: 20px;
		background-color: #fff;
		border: 1px solid var(--color-accent);
		border-radius: 100%;
		content: attr(data-count);
		place-items: center;
	}

	&__burger-btn {
		@include from(1025px) {
			display: none;
		}
		@include tablet {
			order: 2;
		}
	}
}
