@use "../helpers" as *;

.hero {

	&__container {
		display: grid;
		@include from(1281px) {
			grid-template-columns: 535px minmax(0, 1fr);
		}
		@include laptop-sm {
			justify-content: center;
		}
	}

	&__top {
		margin-top: 120px;
		line-height: 1.4;
		@include laptop {
			margin-top: 60px;
		}
		@include laptop-sm {
			text-align: center;
		}
		@include mob {
			margin-top: 40px;
		}
	}

	&__title {
		margin-bottom: 40px;
		@include tablet {
			margin-bottom: 20px;
		}
		@include mob {
			margin-bottom: 20px;
		}
	}

	&__subtitle {
		margin-bottom: 40px;
		font-weight: 300;
		font-size: 32px;
		@include tablet {
			margin-bottom: 20px;
			font-size: 28px;
		}
		@include mob {
			font-size: 24px;
		}
	}

	&__text {
		margin-bottom: 30px;
		color: var(--color-accent);
		font-weight: 300;
		font-size: 24px;
		@include mob {
			font-size: 20px;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 400px;
		padding: 24px 24px 24px 45px;
		color: #353535;
		font-weight: 500;
		font-size: 14px;
		text-align: left;
		text-decoration: none;
		background-color: #fbfbfb;
		border: 1px solid #d9d9d9;
		border-radius: 90px;
		@include laptop-sm {
			margin-inline: auto;
		}
		@include mob {
			padding: 20px 20px 20px 30px;
		}
	}

	&__b-icon {
		display: grid;
		width: 76px;
		height: 76px;
		color: #fff;
		background-color: var(--color-accent);
		border-radius: 100%;
		place-items: center;
		box-shadow: 0 10px 30px 0 rgba(187, 48, 36, 0.5);
		@include mob {
			width: 60px;
			height: 60px;
		}

		svg {
			@include mob {
				width: 15px;
				height: 24px;
			}
		}
	}

	&__img {
		display: block;
		margin-top: 25px;
		@include laptop-sm {
			margin-inline: auto;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
	}

	&__banner {
		display: block;
		flex-grow: 1;
		object-fit: cover;
	}

	&__gallery {
		display: flex;
		gap: 30px;
		margin-top: 30px;
		@include mob {
			gap: 15px;
			margin-top: 15px;
		}
	}

	&__g-img {
		display: block;
		max-width: calc(100% / 3 - 20px);
		@include mob {
			max-width: calc(100% / 3 - 10px);
		}
	}
}
