@use "cart";
@use "catalog";
@use "cert";
@use "contacts";
@use "footer";
@use "header";
@use "hero";
@use "info";
@use "main";
@use "order";
@use "products";
@use "reviews";
@use "sizes";
@use "status";
@use "text";
