@use "../helpers" as *;

.info {
	margin-block: 60px;
	@include mob {
		margin-block: 40px;
	}

	&__slider {
		padding: 15px;
		margin-inline: -15px;
	}

	&__arrows {
		position: absolute;
		top: calc(50% - 15px);
		right: 50px;
		left: 50px;
		z-index: 1;
		@include tablet {
			right: 30px;
			left: 30px;
		}
	}
}
