@use "../helpers" as *;

.main {
	margin-top: 60px;
	@include mob {
		margin-top: 30px;
	}

	&__container {
		display: flex;
		@include from(769px) {
			gap: 50px;
		}
		@include tablet-sm {
			flex-direction: column-reverse;
		}
	}

	&__content {
		flex: 1 0;

		section {

			&:first-child {
				margin-top: 0;
			}
		}
	}
}
