@use "../helpers" as *;

.main {
	margin-top: 60px;
	@include mob {
		margin-top: 30px;
	}

	&--w-sidebar {

		.main__container {
			@include from(1025px) {
				display: grid;
				grid-template-columns: 200px minmax(0, 1fr);
				gap: 50px;
			}
		}
	}

	&__content {

		section {

			&:first-child {
				margin-top: 0;
			}
		}
	}
}
