@use "../helpers" as *;

.order {
	margin-block: 60px;
	@include mob {
		margin-block: 30px;
	}

	&__text {
		margin-bottom: 30px;
		line-height: 1.3;
	}

	&__form-title {
		margin-bottom: 15px;
		font-size: 24px;
		text-align: center;
	}

	&__main-info {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__form-caption {
		margin-block: 15px 30px;
	}

	&__table {

		table {
			margin: 0;
			border-color: #dee2e6;
		}

		tr {
			@include tablet {
				border-bottom: 1px solid #dee2e6;
			}

			&::before {
				@include tablet {
					margin-bottom: 10px;
					font-weight: 700;
					text-align: center;
					content: attr(data-name);
				}
			}

			&:not(:last-child) {
				@include tablet {
					margin-bottom: 20px;
				}
			}
		}

		td, th {
			padding: 0.5rem;
			@include from(1025px) {
				border: 1px solid #dee2e6;
			}
		}

		td {
			@include tablet {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: space-between;
			}

			&::before {
				@include tablet {
					width: 85px;
					font-weight: 700;
					font-size: 14px;
					content: attr(data-name);
				}
			}

			&:first-child {
				@include from(1025px) {
					width: 215px;
				}
			}

			&:nth-child(4) {
				@include from(1025px) {
					width: 200px;
				}
			}
		}
	}

	&__header-row {
		@include tablet {
			display: none;
		}
	}

	&__catalog-row {
		@include tablet {
			display: flex;
			flex-direction: column;
		}
	}

	&__input {
		width: 100%;
		height: 30px;
		padding: 3px 15px;
		border-color: rgba(#000, 0.5);
		box-shadow: none;
	}

	&__delivery {
		display: flex;
		gap: 15px;
		align-items: center;
		margin-top: 30px;
		@include mob {
			font-size: 14px;
		}
	}

	&__delivery-block {
		display: flex;
		gap: 15px;
		align-items: center;

		.order__input {
			max-width: 50px;
		}
	}

	&__add-btn {
		display: grid;
		place-items: center;
		flex-shrink: 0;
		width: 35px;
		height: 35px;
		margin-left: auto;
		padding: 0;
		color: #fff;
		font-size: 22px;
		background-color: #337ab7;
		border: none;
		border-radius: 10px;
		transition: all 0.3s linear;
		@include hover {
			background-color: #286090;
		}

		svg {
			margin-top: 1px;
		}
	}

	&__total {
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		@include mob {
			flex-direction: column;
		}
	}

	&__privacy {
		display: block;
		text-align: center;
		margin-block: 15px;
	}

	&__btn {
		margin: 20px auto 0;
	}
}
