@use "../helpers" as *;

.page {

	&__title {
		text-align: center;
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		@include laptop-sm {
			grid-template-columns: repeat(3, 1fr);
		}
		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}
		@include to(425px) {
			grid-template-columns: 1fr;
		}
	}
}

@supports (display: grid) {

	.page__grid {
		display: grid;
		grid-gap: 15px;
		grid-template-columns: repeat(4, 1fr);
	}
}
