@use "../helpers" as *;

.reviews {
	margin-block: 60px;
	@include mob {
		margin-block: 30px;
	}

	.swiper-pagination {
		--swiper-pagination-bullet-inactive-color: #DDE0E4;
		--swiper-pagination-bullet-inactive-opacity: 1;
		--swiper-pagination-bullet-size: 15px;
		--swiper-pagination-color: var(--color-accent);
		--swiper-pagination-bullet-border-radius: 20px;
		position: static;
		margin-top: 30px;
	}

	.swiper-pagination-bullet {
		transition: all 0.3s ease-in-out;
	}

	.swiper-pagination-bullet-active {
		--swiper-pagination-bullet-width: 40px;
	}
}
