@use "../helpers" as *;

.status {
	padding-block: 60px;
	@include mob {
		padding-block: 30px;
	}

	&__title {
		text-align: center;
	}

	&__form {
		max-width: 500px;
		margin-inline: auto;
	}

	&__input {
		margin-bottom: 15px;
	}

	&__btn {
		margin-top: 15px;
		margin-inline: auto;
	}

	&__table {
		max-width: 100%;
		border-collapse: collapse;

		td {
			padding: 0.5em;
		}
	}

	&__header,
	&__order,
	&__total {

		td {
			@include from(769px) {
				border: 1px solid #dee2e6;
			}
		}
	}

	&__row {
		@include tablet-sm {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}

	&__user {
		@include tablet-sm {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__header {
		@include tablet-sm {
			display: none;
		}

		td {
			white-space: nowrap;
		}
	}

	&__order {
		@include tablet-sm {
			margin-bottom: 10px;
			border: 1px solid #dee2e6;
		}
		@include mob {
			font-size: 14px;
		}

		td {
			@include tablet-sm {
				display: flex;
				gap: 10px;
				justify-content: space-between;
				text-align: right;
			}

			&::before {
				@include tablet-sm {
					font-weight: 600;
					text-align: left;
					content: attr(data-name);
				}
			}
		}
	}

	&__total {
		font-weight: 700;
		text-align: right;
	}

	&__name {
		font-weight: 700;
		font-size: 16px;
	}

	&__check {
		text-align: right;
	}
}
