@use "../helpers" as *;

.tease-post {
	position: relative;
	width: calc(100% / 4 - 12px);
	height: 314px;
	margin: 0 15px 15px 0;

	&:nth-child(4n + 4) {
		margin-right: 0;
	}

	@include hover {

		.tease-post__info {
			visibility: visible;
			opacity: 1;

			&::after {
				transform: none;
				visibility: visible;
				opacity: 1;
			}
		}

		.tease-post__link {
			transform: none;
		}

		.tease-post__title {
			transform: none;
			visibility: inherit;
			opacity: 1;
		}
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__info {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		background-color: rgba(#000, 0.65);
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;
	}

	&__link {
		display: block;
		padding: 17px;
		color: #fff;
		line-height: 22px;
		text-decoration: none;
		background-color: rgba(#fff, 0.15);
		border-radius: 60px;
		transform: translate(0%, -100%);
		transform-style: flat;
		transition: all 0.5s;
		@include mob {
			padding: 10px 15px;
			font-size: 14px;
		}
		@include hover {
			background-color: rgba(#000, 0.7);
		}

		&:nth-child(2) {
			transition: all 0.5s 0.1s;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__title {
		margin-top: 15px;
		padding: 5px 10px;
		color: #fff;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		background-color: rgba(#fff, 0.15);
		transform: 	translate3d(0, 0, 0.001px)
		rotateX(90deg)
		scale(0.8, 0.8);
		transform-origin: 50% 100%;
		transform-style: flat;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;
		@include mob {
			font-size: 12px;
		}
	}
}

@supports (display: grid) {

	.tease-post {
		width: auto;
		height: auto;
		margin: 0;
	}

	.tease-post__info {

		&::after {
			position: absolute;
			bottom: 10px;
			display: inline-block;
			width: 20%;
			height: 2px;
			background-color: #fff;
			transform: scale(0.2, 0.2);
			transform-origin: 50% 50%;
			transform-style: flat;
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s 0.15s;
			content: '';
		}
	}
}
