@use "../helpers" as *;

.burger {
	@include tablet {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		display: grid;
		gap: 15px;
		align-content: start;
		width: 280px;
		padding-block: 20px;
		background-color: #fff;
		box-shadow: 0 0 20px 0 rgba(#000, 0.3);
		transform: translateX(-100%);
		transition: all 0.3s ease-in-out;
	}

	&.active {
		transform: translateX(0);
	}

	.header__menu-top {
		@include from(1025px) {
			display: none;
		}
	}
}
