@use "../helpers" as *;

.btn {
	border: none;

	&_main {
		display: block;
		width: 100%;
		padding: 5px 10px 3px;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		background-color: #337ab7;
		transition: all 0.3s linear;
		@include mob {
			font-size: 10px;
		}
		@include hover {
			background-color: #286090;
		}
	}

	&_success {
		min-width: 100px;
		padding: 10px 15px;
		color: #fff;
		background-color: #4bb71b;
		transition: all 0.3s linear;
		@include hover {
			background-color: #6ed93f;
		}
	}

	&_submit {
		display: block;
		margin: 0 auto;
		padding: 10px 15px 8px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		background-color: var(--color-accent);
		transition: all 0.3s linear;
		@include hover {
			background-color: #e94e4e;
		}
	}

	&_add {
		display: block;
		width: 28px;
		height: 28px;
		margin: 0 auto;
		padding: 5px;
		color: #fff;
		background-color: #337ab7;
		transition: all 0.3s linear;
		@include hover {
			background-color: #286090;
		}
	}
}

.burger-btn {
	padding: 0;
	background: none;
	border: none;

	&__close-icon {
		display: none;
	}

	&.active {

		.burger-btn__main-icon {
			display: none;
		}

		.burger-btn__close-icon {
			display: block;
		}
	}
}
