@use "../helpers" as *;

.btn {
	display: block;
	padding: 10px 20px;
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: all 0.3s linear;

	&--main {
		background-color: var(--color-accent);
		@include hover {
			background-color: #dc3627;
		}
	}

	&--secondary {
		background-color: #337ab7;
		@include hover {
			background-color: #286090;
		}
	}

	&--success {
		min-width: 100px;
		background-color: #4bb71b;
		@include hover {
			background-color: #6ed93f;
		}
	}
}

.burger-btn {
	padding: 0;
	background: none;
	border: none;

	&__close-icon {
		display: none;
	}

	&.active {

		.burger-btn__main-icon {
			display: none;
		}

		.burger-btn__close-icon {
			display: block;
		}
	}
}
