@use "../helpers" as *;

.contacts-info {
	padding: 35px;
	font-weight: 300;
	border: 2px solid #ededed;
	border-radius: 15px;
	box-shadow: 0 0 20px 0 rgba(82, 82, 82, 0.1);
	@include from(577px) {
		font-size: 20px;
	}
	@include from(1025px) {
		font-size: 25px;
	}
	@include tablet {
		padding: 20px;
	}

	&__caption {
		margin-top: 30px;
		font-weight: 700;
		@include tablet {
			margin-top: 20px;
		}
	}

	&__link {
		display: block;
		width: fit-content;
	}
}
