@use "../helpers" as *;

.input {
	width: 100%;
	height: 50px;
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(#000, 0.1);

	&::placeholder {
		color: rgba(#000, 0.7);
		font-weight: 300;
	}

	&:focus {
		border-color: var(--color-accent);
	}
}

.qty {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px;

	&__input {
		grid-row: span 2;
		width: 50px;
		padding: 10px;
		font-weight: 700;
		font-size: 25px;
		text-align: center;
	}

	&__btn {
		display: grid;
		place-items: center;
		width: 20px;
		height: 20px;
		padding: 0;
		background: none;
		border: none;
		transform: rotate(90deg);
	}
}
