@use "../helpers" as *;

.input {
	width: 100%;
	height: 50px;
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(#000, 0.1);

	&::placeholder {
		color: rgba(#000, 0.7);
		font-weight: 300;
	}
}

select {
	width: 100%;
}
