@use "../helpers" as *;

.menu-top {
	display: flex;
	gap: 22px;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	@include from(1025px) {
		color: #464646;
	}
	@include tablet {
		flex-direction: column;
		gap: 15px;
		align-items: flex-start;
	}

	a {
		text-decoration: none;
		@include tablet {
			display: block;
			padding: 5px 10px;
		}
	}
}

.menu-main {
	display: flex;
	gap: 35px;
	align-items: center;
	font-weight: 300;
	@include laptop {
		gap: 25px;
	}
	@include tablet {
		flex-direction: column;
		gap: 15px;
		align-items: flex-start;
	}

	a {
		text-decoration: none;
		@include tablet {
			display: block;
			padding: 5px 10px;
		}
	}

	.menu-item {
		@include tablet {
			width: 100%;
		}

		&.accent {

			a {
				padding: 10px 12px;
				color: #fff;
				font-weight: 500;
				font-size: 18px;
				background-color: var(--color-accent);
				@include from(1025px) {
					border-radius: 10px;
				}
			}
		}
	}
}

.menu-footer {
	display: flex;
	font-size: 12px;
	@include tablet {
		justify-content: center;
		width: 100%;
	}

	a {
		text-decoration: none;
	}

	.menu-item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-inline: 60px;
		border-left: 1px solid #D9D9D9;
		@include laptop {
			padding-inline: 30px;
		}
		@include tablet {
			padding-block: 15px;
		}
		@include to(375px) {
			flex: 1 0;
			padding: 10px;
		}

		&:last-child {
			border-right: 1px solid #D9D9D9;
		}
	}
}

.nav {

	&__menu {
		padding: 0;
		list-style-type: none;

		&:not(.container) {
			margin: 0;
		}

		a {
			text-decoration: none;
		}
	}

	&__toggle {
		display: none;
		width: 100%;
		padding: 10px;
		color: #fff;
		background-color: var(--color-accent);
		border: none;
		@include tablet {
			display: block;
		}
	}

	&__title {
		margin-bottom: 15px;
		color: #021b6d;
		font-weight: 700;
	}

	.sub-menu {
		position: absolute;
		top: 0;
		left: 100%;
		display: none;
		min-width: 200px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		background-color: #eee;
		@include tablet-sm {
			position: static;
			padding: 10px 15px;
		}

		&::before {
			position: absolute;
			top: 8px;
			left: -5px;
			display: block;
			width: 10px;
			height: 10px;
			background-color: #eee;
			transform: rotate(45deg);
			content: '';
			@include tablet-sm {
				display: none;
			}
		}

		a {
			display: block;
			padding: 5px 10px;
			transition: all 0.1s linear;

			&:not(:last-child) {
				margin-bottom: 1px;
			}

			@include hover {
				color: #fff;
				background-color: var(--color-accent);
			}
		}
	}

	.menu-item {
		position: relative;
		z-index: 1;
	}
}

.menu-sales {

	> li {

		> a[href="#"] {
			color: #f00;
			font-weight: 700;
			font-style: italic;
		}
	}
}

.menu-catalog {
	padding-left: 5px;

	> .menu-item {
		@include tablet-sm {
			margin-bottom: 2px;
		}

		&.hover {

			> span, > a {
				color: #fff;
				background-color: var(--color-accent);
			}
		}

		> span, > a {
			display: block;
			padding: 5px 10px;
			transition: background-color 0.1s linear;
			@include hover {
				color: #fff;
				background-color: var(--color-accent);
			}
		}
	}
}
