@use "../helpers" as *;

.nav {

	&_top {
		background-color: #eee;
		@include tablet {
			position: relative;
			z-index: 10;
		}
	}

	&_main {
		background-color: #c4c4c4;
		@include tablet {
			display: none;
		}
	}

	&_sales {
		margin-bottom: 30px;
	}

	&__menu {
		padding: 0;
		list-style-type: none;

		&:not(.container) {
			margin: 0;
		}

		a {
			text-decoration: none;
		}
	}

	&__toggle {
		display: none;
		width: 100%;
		padding: 10px;
		color: #fff;
		background-color: var(--color-accent);
		border: none;
		@include tablet {
			display: block;
		}
	}

	&__title {
		margin-bottom: 15px;
		color: #021b6d;
		font-weight: 700;
	}
}

.menu-container {
	@include tablet {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		display: none;
		background-color: #eee;
	}

	.menu-main {
		display: none;
		@include tablet {
			display: block;
		}
	}

	.nav__menu {
		@include tablet {
			margin: 0;
		}
	}
}

.menu-top {
	display: flex;
	justify-content: center;
	@include tablet {
		display: block;
	}

	.menu-item {

		&:not(:last-child) {
			margin-right: 50px;
			@include tablet {
				margin: 0;
			}
		}
	}

	a {
		display: block;
		padding: 8px 13px;
		@include tablet {
			padding: 11px 16px;
		}
	}

	li {

		&.current-menu-item {

			a {
				@include tablet {
					color: #fff;
					background-color: var(--color-accent);
				}
			}
		}
	}
}

.menu-main {
	display: flex;
	font-size: 18px;
	text-transform: uppercase;
	@include laptop-sm {
		justify-content: space-between;
		font-size: 14px;
	}

	li {

		&.current-menu-item {

			a {
				color: #fff;
				background-color: var(--color-accent);
			}
		}
	}

	a {
		display: block;
		padding: 11px 16px;
		transition: all 0.3s linear;

		&:hover {
			color: #fff;
			background-color: var(--color-accent);
		}
	}
}

.menu-sales {

	> li {

		> a[href="#"] {
			color: #f00;
			font-weight: 700;
			font-style: italic;
		}
	}
}

.menu-catalog {
	padding-left: 5px;

	> .menu-item {
		@include tablet-sm {
			margin-bottom: 2px;
		}

		&.hover {

			> span, > a {
				color: #fff;
				background-color: var(--color-accent);
			}
		}

		> span, > a {
			display: block;
			padding: 5px 10px;
			transition: background-color 0.1s linear;
			@include hover {
				color: #fff;
				background-color: var(--color-accent);
			}
		}
	}
}

.sub-menu {
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	min-width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eee;
	@include tablet-sm {
		position: static;
		padding: 10px 15px;
	}

	&::before {
		position: absolute;
		top: 8px;
		left: -5px;
		display: block;
		width: 10px;
		height: 10px;
		background-color: #eee;
		transform: rotate(45deg);
		content: '';
		@include tablet-sm {
			display: none;
		}
	}

	a {
		display: block;
		padding: 5px 10px;
		transition: all 0.1s linear;

		&:not(:last-child) {
			margin-bottom: 1px;
		}

		@include hover {
			color: #fff;
			background-color: var(--color-accent);
		}
	}
}

.menu-item {
	position: relative;
	z-index: 1;
}
