@use "../helpers" as *;

.modal {
	display: none;
	flex-direction: column;
	padding: 55px 65px;
	@include mob {
		padding: 40px 30px;
	}

	&--success {
		width: 600px;
		text-align: center;

		.btn {
			margin: 30px auto 0;
		}
	}

	&__success-icon {
		display: block;
		width: 100px;
		height: 100px;
		margin: 0 auto 30px;
		border-radius: 50%;
		box-shadow: inset 0 0 0 #4bb71b;
		animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
		stroke: #4bb71b;
		stroke-width: 2;
		stroke-miterlimit: 10;
	}

	&__success-circle {
		animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
		fill: #fff;
		stroke: #4bb71b;
		stroke-dasharray: 166;
		stroke-dashoffset: 166;
		stroke-width: 2;
		stroke-miterlimit: 10;
	}

	&__success-check {
		transform-origin: 50% 50%;
		animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
		stroke-dasharray: 48;
		stroke-dashoffset: 48;
	}

	&__title {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 34px;
	}

	&__text {
		font-size: 20px;
	}

	.f-button.is-close-button {
		--f-close-button-color: #000;
		--f-close-button-hover-color: #000;
		top: 10px;
		right: 10px;
	}
}

@keyframes stroke {

	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {

	0%, 100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes fill {

	100% {
		box-shadow: inset 0 0 0 30px #4bb71b;
	}
}
