@use "../helpers" as *;

.modal {
	display: none;
	padding: 55px 65px;
	background-color: #213c57;
	@include mob {
		padding: 40px 30px;
	}

	&__header {
		display: grid;
		grid-column-gap: 40px;
		grid-template-columns: 420px minmax(auto, 610px);
		align-items: end;
		margin-bottom: 60px;
		@include tablet {
			grid-template-columns: 1fr 1fr;
		}
		@include tablet-sm {
			grid-gap: 20px;
			grid-template-columns: 1fr;
			margin-bottom: 40px;
		}

		.title {
			width: 270px;
			@include mob {
				max-width: 115px;
				font-size: 21px;
			}
		}
	}

	&__text {
		@include mob {
			font-size: 16px;
		}
	}

	&__button {
		position: absolute;
		top: 25px;
		right: 25px;
		height: fit-content;
		padding: 0;
		color: #fff;
		background-color: transparent;
		border: 0;
		opacity: 0.5;
		transition: all 0.3s;
		@include hover {
			opacity: 1;
		}
	}
}

.subscribe {
	display: none;
	width: 600px;
	text-align: center;

	h3 {
		margin-bottom: 15px;
		font-size: 34px;
	}

	&__input {
		width: 100%;
		margin-bottom: 20px;
		padding: 10px;
	}

	&__btn {
		width: max-content;
		margin: 0 auto;
		padding: 10px 15px;
	}
}

.success {
	width: 600px;
	text-align: center;

	&__icon {
		display: block;
		width: 100px;
		height: 100px;
		margin: 0 auto 30px;
		border-radius: 50%;
		box-shadow: inset 0 0 0 #4bb71b;
		animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
		stroke: #4bb71b;
		stroke-width: 2;
		stroke-miterlimit: 10;
	}

	&__icon-circle {
		animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
		fill: #fff;
		stroke: #4bb71b;
		stroke-dasharray: 166;
		stroke-dashoffset: 166;
		stroke-width: 2;
		stroke-miterlimit: 10;
	}

	&__icon-check {
		transform-origin: 50% 50%;
		animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
		stroke-dasharray: 48;
		stroke-dashoffset: 48;
	}

	h3 {
		margin-bottom: 15px;
		font-size: 34px;
	}

	p {
		font-size: 20px;
	}
}

.fancybox-container {

	+ .select2-container {
		z-index: 99993;
	}
}

@keyframes stroke {

	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {

	0%, 100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes fill {

	100% {
		box-shadow: inset 0 0 0 30px #4bb71b;
	}
}
