@use "../helpers" as *;

.sidebar {
	display: grid;
	gap: 20px;
	@include tablet {
		margin-bottom: 50px;
	}

	&__menu {

		&:last-child {
			margin-top: 10px;
		}
	}

	&__caption {

		> span,
		> a {
			color: var(--color-accent-secondary);
			font-weight: 700;
		}
	}

	&__info-container {
		display: grid;
		gap: 20px;
		@include tablet {
			order: -1;
		}
	}

	&__info {
		position: relative;
		padding: 10px 10px 10px 25px;
		font-size: 14px;
		background-color: #f5f5f5;
		box-shadow: 0 0 7px 0 rgba(#000, 0.2);

		&::before {
			position: absolute;
			top: 10px;
			left: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 14px;
			height: 14px;
			color: #fff;
			font-size: 12px;
			line-height: 14px;
			background-color: #f39223;
			border-radius: 100%;
			content: '!';
		}
	}
}
