@use "../helpers" as *;

.social {
	display: flex;
	gap: 15px;
	align-items: center;

	&__link {
		display: grid;
		place-items: center;
		width: 32px;
		height: 32px;
		color: var(--color-accent);
	}
}
